In [2]:
import pandas as pd
import numpy as np

data_path = '../data/iris.data'

raw_data = pd.read_csv(data_path, sep=',',
                      names=['sepal_length','sepal_width','petal_length',
                            'petal_width','class'])

raw_data.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [3]:
raw_data['class'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: class, dtype: int64

In [5]:
from sklearn import preprocessing

# sklearn의 one-hot encoder 
    # faeature가 범주형일때 feature에 사용
# sklearn의 label encoder
    # 말그대로 label에 대한 인코더
le_class = preprocessing.LabelEncoder()
final_data = raw_data.copy()
# fit : 문자열 label을 숫자 label이야 라고 말해주기까지만 하는 역할
# transform : 문자열과 숫자를 실질적으로 mapping하는 역할
final_data['class'] = le_class.fit_transform(raw_data['class'])

final_data.head()

   sepal_length  sepal_width  petal_length  petal_width  class
0           5.1          3.5           1.4          0.2      0
1           4.9          3.0           1.4          0.2      0
2           4.7          3.2           1.3          0.2      0
3           4.6          3.1           1.5          0.2      0
4           5.0          3.6           1.4          0.2      0

In [49]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Perceptron

features = final_data.columns[:-1].tolist()


train_d, test_d = train_test_split(final_data, test_size=0.1)

train_y = train_d['class']
train_x = train_d[features]

test_y = test_d['class']
test_x = test_d[features]

model = Perceptron(max_iter=500, random_state=42)
model.fit(train_x, train_y)

model.score(test_x, test_y)

0.9333333333333333

In [ ]:
# 끝날때 git push해놓기
# data type의 member함수 뭐있는지 찾아가면서 공부해보자